body{
    background-color: rgb(12, 12, 71);
}

.navbar{
    background-color: black;
    border-radius: 0%;
}

.navbar-brand{
    font-size: 2rem;
}

.navbar-right{
    padding-right: 10%;
    font-size: 1.8rem;
}

.img-responsive{
    margin: auto;
    margin-top: -1.2%;
    width: 30%; 
}

#img2{
    margin: auto;
    margin-top: 10%;
    width: 20%;
    border-radius: 10px;
}

/* .p1{
    font-size: 3rem;
} */

