body{
    background-color: rgb(12, 12, 71);
}

.navbar{
    background-color: black;
    border-radius: 0%;
}

.navbar-brand{
    font-size: 2rem;
}

.navbar-right{
    padding-right: 10%;
    font-size: 1.8rem;
}

.img-responsive{
    margin: auto;
    margin-top: -1.2%;
    /* width: 40%; */
    height: 700px; 
}

#img2{
    margin: auto;
    margin-top: 10%;
    height: 500px;
    border-radius: 10px;
}

p{
    color: #fff;
}

.btn{
    text-align: center;
    background-color: black;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 3;
}

#text{
    margin: auto;
    height: 5vw;
    width: 40vw;
}

#btn3{
    margin-top: 1%;
    font-weight: bold;

}

/* @media only screen and(min-width:768px){
    #text{
        width: 10px;
    }
} */
